.cmt {
    color: blue;
}

div.rblk{
    position: absolute;
    left: 100px;
    top: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: #0080FF;
    width: 150px;
    height: 150px;
    background-color: white;
    zIndex: 0;
}

.rblk_card{
    display: block;
}
.top_right{
    position: absolute;
    top:0px;
    right:0px;
    height:20px;
    width:20px;
    padding:0px;
    text-align: center;
}
#pal{
    height:300px;
    width:300px;
    background: rgb(0,140,255);
    visibility: hidden;
}
#opt_panel{
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 400px;
    width: 200px;
    border-style: solid;
    border-color: red;
    visibility: hidden;
}
#opt_panel_tr{
    resize: none;
    width: 200px;
    height: 360px;
}

.btn-norm{
    height: 40px;
    width: 40px;
}
.btn-small{
    height: 20px;
    width: 20px;
}
div.btn{
    background-color: #0080FF;
    color: white;
    display: inline-block;
    padding: 0px;
    border: 0px;
}
div.btn p{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    margin: 0;
}
div.btn:hover{
    background: #00FFFF;
}
div.btn:active{
    background: #FFFFFF;
}

div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.eot');
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
         url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');');
}
.icon{
    font-family: 'Glyphicons Halflings';
}
.icon-remove:before {
    color: #0080FF;
    content: "\e014";
}
span:hover.icon-remove:before{
    color: #FFFFFF;
    background: #0080FF;
}
span:active.icon-remove:before{
    color: #0080FF;
    background: #FFFFFF;
}
.label{
    height: 20px;
    padding: 0px;
    background-color: #0080FF;
    color: #FFFFFF;
}
